/* CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* GLOBAL BUTTON STYLING */
.button-b {
  padding: 0.35em 1.2em;
  border: 2px solid #FFFFFF;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.4s;
  background-color: black;
}

.button-b:hover {
  color:#000000;
  background-color: white;
}

.button-w {
  padding: 0.35em 1.2em;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: all 0.4s;
  background-color: white;

}

.button-w:hover {
  color: white;
  background-color: black;
}

button:focus {
  outline: 0;
}


/* NAVIGATION */
.topnav {
    overflow: hidden;
    background-color: white;
    text-align: center;
  }


.pheonix {
  height: 80px;
  width: 70px;
  position: absolute;
  z-index: 10;
  top: -5px;
  margin-left: -15px;
}

#jay {
  color: black;
}

#boyce {
  margin-left: 50px;
  color: black;
}

.topnav a {
  display: inline-block;
  padding: 5px;
  color: black;
  text-decoration: none; 
  font-family: 'Cinzel', serif;
  font-size: 36px;
}
  
  /* JUMBO */

.jumbo-background{
    background-color: black;
    margin-bottom: 80px;
}

.jumbo-background h1 {
  font-family: 'Cinzel', serif;
  color: white;
}

.vert-center {
  text-align: center;
}

.jumbo-background button {
  margin-bottom: 50px;
}


  /* MAIN */
.main img {
  height: 300px;
  width: 200px;
  margin-bottom: 30px;
}

.main h2 {
  font-family: 'Cinzel', serif;
  margin-bottom: 15px;
}


.main button {
  margin-top: 30px;
  margin-bottom: 80px;
}



  /* CONNECT */

.connect {
    margin-bottom: 25px;
}

.connect h2 {
  font-family: 'Cinzel', serif;
  margin-top: 30px;
  margin-bottom: 15px;
}

.connect-background {
  background-color: black;
  color: white;
}

.d-flex div {
  margin-right: 25px;
}


/* FOOTER */

.footer {
  background-color: black;
}

.footer img {
  height: 200px;
  width: 200px;
}

.footer footer {
  color: white;
  margin-top: -10px;
  font-size: 12px; 
}


/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
.margin-fix {
  margin: 0 5%; 
}

.jumbo-background h1 {
  margin-top: -75px;
}
}



@media only screen and (min-width: 768px) {
.connect {
  margin: 0 17%;   
}

.connect-button {
  margin: 0 17%;
}

.main p {
  margin: 0 auto;
  text-align: center;
  min-width: 230px;
  max-width: 230px;
}

.vert-center {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

}
  
@media only screen and (min-width: 992px) {
.main p {
  min-width: 300px;
  max-width: 300px;
}
}

@media only screen and (min-width: 1240px) {
.jumbo-background img {
  max-width: 80vh;
  margin-left: 15%;
}

.connect {
  margin: 0 23%;
}

}



