* {
    padding: 0;
    margin: 0;
}

/* NAVIGATION */

.topnav {
    overflow: hidden;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 2px -2px rgba;
  }

  .topnav a {
      display: inline-block;
      padding: 5px;
      color: black;
      text-decoration: none; 
      font-family: 'Cinzel', serif;
      font-size: 36px;
  }
  
  /* MAIN */

  .main-background{
      background-color: black;
      margin-bottom: 80px;
  }

  .main img {
    height: 300px;
    width: 200px;
  }

  .main-background h1 {
      font-family: 'Cinzel', serif;
      color: white;
  }

  /* CONNECT */

